[submodule "integration-tests/repositories/w3c/specberus"]
	path = integration-tests/repositories/w3c/specberus
	url = https://github.com/w3c/specberus.git
[submodule "integration-tests/repositories/bitjson/typescript-starter"]
	path = integration-tests/repositories/bitjson/typescript-starter
	url = https://github.com/bitjson/typescript-starter.git
[submodule "integration-tests/repositories/wireapp/wire-webapp"]
	path = integration-tests/repositories/wireapp/wire-webapp
	url = https://github.com/wireapp/wire-webapp.git
[submodule "integration-tests/repositories/typescript-cheatsheets/react"]
	path = integration-tests/repositories/typescript-cheatsheets/react
	url = https://github.com/typescript-cheatsheets/react.git
