[submodule "integration-tests/repositories/w3c/specberus"]
	path = integration-tests/repositories/w3c/specberus
	url = https://github.com/w3c/specberus.git
[submodule "integration-tests/repositories/bitjson/typescript-starter"]
	path = integration-tests/repositories/bitjson/typescript-starter
	url = https://github.com/bitjson/typescript-starter.git
