# Ignore Dev Env things
.vscode
.nyc_output

# no need to ship the source dictionaries
/dictionaries

# Ignore Unit test stuff
/samples
/temp
/coverage
/images
/src
/tmp
*.test.js
*.test.d.ts
*.test.js.map
*.test.ts
