# Ignore Dev Env things
.vscode
.nyc_output

# no need to ship the source dictionaries
/dictionaries
/migrated_dictionaries

# Source is allowed to make sure the .map files work.
# /src

# Ignore Unit test stuff
/samples
/temp
/coverage
/images
/tmp
**/*.test.js
**/*.test.d.ts
**/*.test.js.map
**/*.test.ts
**/*.spec.js
**/*.spec.d.ts
**/*.spec.js.map
**/*.spec.ts

# Ignore non distribution files
.coveralls.yml
tsconfig.json
tslint.json
appveyor.yml
