.vscode/
[sS]amples/
[tT]emp/
**/dist/**
**/node_modules/**
**/package-lock.json
CHANGELOG.md
coverage
cspell.json
cspell.schema.json
integration-tests/config/config.json
integration-tests/repositories/*/*/**
lerna.json
packages/*/dist/
packages/cspell-bundled-dicts/cspell-default.config.js
tsconfig*.json
