.vscode/
[sS]amples/
[tT]emp/
**/dist/**
**/node_modules/**
**/*-lock.json
**/*-lock.yaml
**/_auto_generated_/**
**/.docusaurus/**
CHANGELOG.md
**/changelog.md
**/CHANGELOG.md
coverage
**/*.schema.json
docs/_site/**
docs/docsV2/**
docs/types/cspell-types/**
integration-tests/config/config.json
integration-tests/repositories/temp/*/**
integration-tests/snapshots/**
lerna.json
packages/*/dist/
packages/cspell-bundled-dicts/cspell-default.config.js
test-fixtures/**
**/cspell-bad.json
.yarn
.pnp.cjs
.pnp.js
**/fixtures/with-errors/**
api.d.ts
**/*.d.cts
**/*.cjs
