.vscode/
[sS]amples/
[tT]emp/
**/dist/**
**/node_modules/**
**/*-lock.json
**/*-lock.yaml
**/_auto_generated_/**
**/generated/**
**/.docusaurus/**
CHANGELOG.md
**/changelog.md
**/CHANGELOG*.md
examples/release-notes.md
**/cspell-cache-flatpack.json
**/cspell-cache-flatted.json
coverage
**/*.schema.json
integration-tests/config/config.json
integration-tests/repositories/temp/*/**
integration-tests/snapshots/**
lerna.json
packages/*/dist/
packages/*/api/
packages/cspell-bundled-dicts/cspell-default.config.js
perf-report.md
test-fixtures/**
website/build/**
website/**/auto_*
website/**/*.mdx
**/cspell-bad.json
.yarn
.pnp.cjs
.pnp.js
**/fixtures/with-errors/**
api.d.ts
**/*.d.cts
**/*.cjs
lib-bundled
__snapshots__
