language: node_js
node_js:
  - "node"
  - "7"
  - "6"
script:
  - npm install
  # the prepublish script run during install currently does clean-build and test
  # with npm v5+ that will no longer be the case, so these will need to be added back.
  # - npm run tscv
  # - npm run clean-build
  # - npm test
  - npm run lint-travis
  - npm run travis-coverage
  # - npm run test-spec
