.home-section {
    display: flex;
    flex-direction: column;

    &-title {
        margin: 1rem 0 2rem 0;
        font-size: 2rem;
    }

    &-content {
        flex: 1;
        width: 100%;
        max-width: 1000px;
        display: contents;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .home-section {
        padding: 1rem 0;

        &-title {
            font-size: 1.75rem;
        }
    }
}
