.cspell-card {
    gap: 0.75rem;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    cursor: default;
    overflow: hidden;
    border-radius: 1rem;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s ease;
    border: 0.125rem solid var(--ifm-color-emphasis-200);
    background: linear-gradient(135deg, var(--ifm-color-emphasis-100) 0%, var(--ifm-color-emphasis-50) 100%);

    &:hover {
        border-color: var(--ifm-color-primary);
    }

    .cspell-card-header {
        gap: 0.75rem;
        display: flex;
        align-items: center;
    }

    .cspell-card-icon {
        width: 3rem;
        height: 3rem;
        flex-shrink: 0;

        &-svg {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-colored {
            mask-size: contain;
            mask-position: center;
            mask-repeat: no-repeat;
            background-color: var(--icon-color, currentColor);

            mask-image: inherit;
            -webkit-mask-size: contain;
            -webkit-mask-image: inherit;
            -webkit-mask-position: center;
            -webkit-mask-repeat: no-repeat;
        }
    }

    .cspell-card-title {
        margin: 0;
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--ifm-color-content);
    }

    .cspell-card-description {
        margin: 0;
        font-size: 1rem;
        color: var(--ifm-color-content-secondary);
    }
}

[data-theme='dark'] {
    .cspell-card {
        border-color: var(--ifm-color-emphasis-300);
        background: linear-gradient(135deg, var(--ifm-background-surface-color) 0%, var(--ifm-color-emphasis-100) 100%);

        &:hover {
            border-color: var(--ifm-color-primary);
        }
    }
}
