name: Coverage
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2.1.5

      - run: npm ci

      - run: npm run coverage

      - name: Upload coverage Coveralls
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage/lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.5.0
        with:
          directory: ./coverage
