name: autofix.ci
on:
  pull_request:
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup and Build
        uses: ./.github/actions/install-build-cache
        with:
          node-version: 22.x

      - name: Lint
        run: pnpm run lint

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
