name: autofix.ci
on:
  pull_request:
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  autofix:
    if: contains(github.actor, 'dependabot') != true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup and Build
        uses: ./.github/actions/install-build-cache
        with:
          node-version: 22.x

      - name: Lint
        run: pnpm run lint

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
