name: Create Version Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Publish As (latest/next)"
        type: choice
        options:
          - "latest"
          - "next"
        default: "next"
        required: true
      bump:
        description: "Version Bump"
        type: choice
        options:
          - "patch"
          - "minor"
          - ""
        default: ""
        required: false

  workflow_call:
    secrets:
      PUBLISH_NPM:
        required: true

permissions:
  contents: write

env:
  USE_NEXT: ${{ inputs.tag == 'next' }}
  BUMP: ${{ inputs.bump }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.2

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: "https://registry.npmjs.org"
          cache: pnpm

      - name: Version
        run: |
          echo "VERSION=$(jq .version lerna.json)" >> $GITHUB_ENV

      - name: Mode
        env:
          MODE: >
            ${{ (env.USE_NEXT && '--conventional-prerelease')
            || (contains(env.VERSION, 'alpha') && '--conventional-graduate')
            || ''
            }}
        run: |
          echo MODE=$MODE >> $GITHUB_ENV

      - name: Install
        run: pnpm i

      - name: Push Version
        run: pnpm lerna version --conventional-commits --sync-workspace-lock --yes ${{ env.MODE }} ${{ env.BUMP }}
