name: Coverage
on:
  pull_request:
    paths:
      - "/*.js"
      - "*.ts"
      - "*-lock.yaml"
      - "package.json"
      - "packages/**/*-lock.yaml"
      - "packages/**/*.js"
      - "packages/**/*.ts"
      - "packages/**/package.json"
      - ".github/workflows/coverage.yml"
      - "!docs/**"
      - "!website/**"
  push:
    branches:
      - main
    paths:
      - "**/package.json"
      - "**/*-lock.yaml"
      - "**/*.ts"
      - "**/*.js"
      - ".github/workflows/coverage.yml"
      - "!docs/**"
      - "!website/**"

permissions:
  contents: read

jobs:
  coverage:
    permissions:
      checks: write # for coverallsapp/github-action to create new checks
      contents: read # for actions/checkout to fetch code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install and Build
        uses: ./.github/actions/install-build

      - run: pnpm run coverage

      - name: Upload coverage Coveralls
        uses: coverallsapp/github-action@3dfc5567390f6fa9267c0ee9c251e4c8c3f18949 # 2.2.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@0cfda1dd0a4ad9efc75517f399d859cd1ea4ced1 # v4.0.2
        with:
          directory: "."
          files: ./lcov.info
