name: Coverage
on:
  pull_request:
    paths:
      - "**/package.json"
      - "**/package-lock.json"
      - "**/*.ts"
      - "**/*.js"
      - ".github/workflows/coverage.yml"
      - "!docs/**"
  push:
    branches:
      - main
    paths:
      - "**/package.json"
      - "**/package-lock.json"
      - "**/*.ts"
      - "**/*.js"
      - ".github/workflows/coverage.yml"
      - "!docs/**"

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Use Node.js
        uses: actions/setup-node@v2.5.1
        with:
          cache: npm

      - run: npm i -g npm@8
      - run: npm -v

      - name: Restore CSpell cache
        uses: actions/cache@v2
        with:
          key: cspell-cache-${{ runner.os }}-coverage-${{ hashFiles('**/*.ts', '**/*.md') }}
          path: |
            .cspell/.cspellcache
          restore-keys: |
            cspell-cache-${{ runner.os }}-coverage-
            cspell-cache-${{ runner.os }}-

      - run: npm ci
      - run: npm run build
      - run: npm run coverage

      - name: Upload coverage Coveralls
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          directory: "."
          files: ./lcov.info
