name: Coverage
on:
  pull_request:
    paths:
      - '/*.js'
      - '*.ts'
      - '*-lock.yaml'
      - 'package.json'
      - 'packages/**/*-lock.yaml'
      - 'packages/**/*.js'
      - 'packages/**/*.ts'
      - 'packages/**/package.json'
      - '.github/workflows/coverage.yml'
      - '!docs/**'
      - '!website/**'
  push:
    branches:
      - main
    paths:
      - '**/package.json'
      - '**/*-lock.yaml'
      - '**/*.ts'
      - '**/*.js'
      - '.github/workflows/coverage.yml'
      - '!docs/**'
      - '!website/**'

permissions:
  contents: read

jobs:
  coverage:
    permissions:
      checks: write # for coverallsapp/github-action to create new checks
      contents: read # for actions/checkout to fetch code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install and Build
        uses: ./.github/actions/install-build

      - run: pnpm run coverage

      - name: Upload coverage Coveralls
        id: coveralls
        uses: coverallsapp/github-action@643bc377ffa44ace6394b2b5d0d3950076de9f63 # 2.3.0
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info

      - name: Upload coverage to Codecov
        id: codecov
        uses: codecov/codecov-action@6d798873df2b1b8e5846dba6fb86631229fbcb17 # v4.4.0
        continue-on-error: true
        with:
          directory: '.'
          files: ./lcov.info

      - name: Show Summary
        uses: streetsidesoftware/actions/public/summary@v1
        with:
          text: |
            Coveralls: ${{ steps.coveralls.outcome }}
            Codecov: ${{ steps.codecov.outcome }}
