name: Coverage
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Use Node.js
        uses: actions/setup-node@v2.5.1

      - run: npm ci
      - run: npm run coverage

      - name: Upload coverage Coveralls
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info

      # Do not upload to Codecov it only supports 1 comparison branch
      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v2.0.2
      #   with:
      #     directory: "."
      #     files: ./lcov.info
