name: cspell-action
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node and Pnpm
        uses: ./.github/actions/setup-node

      - run: pnpm run prepare-cspell-action
      - uses: streetsidesoftware/cspell-action@v8
        with:
          report: typos
