name: cspell-action
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          cache: npm

      - run: npm i -g npm@8
      - run: npm -v

      - run: npm run prepare-cspell-action
      - uses: streetsidesoftware/cspell-action@a18452ec4795d191ffb187d6969cddd5b527dbf0 # v1
