name: cspell-action
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node and Pnpm
        uses: ./.github/actions/setup-node

      - run: pnpm run prepare-cspell-action
      - uses: streetsidesoftware/cspell-action@v8
        with:
          report: typos
