name: cspell-action
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node and Pnpm
        uses: ./.github/actions/setup-node

      - run: pnpm run prepare-cspell-action
      - uses: streetsidesoftware/cspell-action@v7
        with:
          report: typos
