name: cSpell-cli
on:
  pull_request:
  push:
    branches:
      - main
  # Run on demand
  workflow_dispatch:

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Use Node.js
        uses: actions/setup-node@v2.5.1
        with:
          cache: npm

      - run: npm i -g npm@8
      - run: npm -v

      - name: prepare-cspell-action
        run: npm run i

      - name: Restore CSpell cache
        uses: actions/cache@v2
        with:
          key: cspell-cache-v1-${{ runner.os }}
          path: |
            .cspellcache

      - name: cspell@latest
        run: npx cspell@latest --cache --cache-strategy content --cache-location .cspellcache --exclude "yarn2" "**"
