name: cSpell-cli
on:
  pull_request:
  push:
    branches:
      - main
  # Run on demand
  workflow_dispatch:

permissions:
  contents: read

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          cache: npm

      - run: npm i -g npm@8
      - run: npm -v

      - # It is necessary to run `npm i` in order install some dictionaries.
        name: prepare-cspell-action
        run: npm i
      - run: npx lerna run build --scope "@cspell/cspell-bundled-dicts" --include-dependencies

      - name: Restore CSpell cache
        uses: actions/cache@v3
        with:
          key: cspell-cache-v2-${{ runner.os }}-${{ hashFiles('**/*.ts', '**/*.md') }}
          path: |
            .cspellcache
          restore-keys: |
            cspell-cache-v2-${{ runner.os }}-

      - name: cspell@latest
        run: npx cspell@latest --cache --cache-strategy=content --cache-location=.cspellcache --exclude="yarn2" --no-progress "**"
        # run: npx cspell@latest --cache --cache-strategy=content --cache-location=.cspellcache --exclude="yarn2" "**"
