name: cspell-action
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Use Node.js
        uses: actions/setup-node@v3.0.0
        with:
          cache: npm

      - run: npm i -g npm@8
      - run: npm -v

      - run: npm run prepare-cspell-action
      - uses: streetsidesoftware/cspell-action@v1
