name: Integration Tests
on:
  pull_request:
    paths-ignore:
      - "docs/**"
  push:
    branches:
      - main
    paths:
      - "**/package.lock"
      - "**/*.ts"
      - "integration-tests/**"
      - ".github/workflows/integration-test.yml"
      - "!docs/**"
  # Run on demand
  workflow_dispatch:
    inputs:
      updateSnapshots:
        description: "Update Integration Test snapshots (y/n)"
        default: "n"
        required: false

jobs:
  integration-tests:
    runs-on: ${{ matrix.os }}

    env:
      update_args: ${{ (startsWith(github.event.inputs.updateSnapshots, 'y') || startsWith(github.event.inputs.updateSnapshots, 'Y')) && '--update' || '' }}
      branch_prefix: update-integration-ref

    strategy:
      matrix:
        node-version:
          - 16.x

        os:
          - ubuntu-latest

        repo:
          - AdaDoom3/AdaDoom3
          - alexiosc/megistos
          - aws-amplify/docs
          - Azure/azure-rest-api-specs
          - bitjson/typescript-starter
          - canada-ca/open-source-logiciel-libre
          - django/django
          - exonum/exonum
          - googleapis/google-cloud-cpp
          - graphql/express-graphql
          - graphql/graphql-js
          - graphql/graphql-relay-js
          - graphql/graphql-spec
          - liriliri/licia
          - MartinThoma/LaTeX-examples
          - microsoft/TypeScript-Website
          - pagekit/pagekit
          - php/php-src
          - plasticrake/tplink-smarthome-api
          - prettier/prettier
          - pycontribs/jira
          - SoftwareBrothers/admin-bro
          - TheAlgorithms/Python
          - typescript-cheatsheets/react
          - typescript-eslint/typescript-eslint
          - w3c/aria-practices
          - w3c/specberus
          - webdeveric/webpack-assets-manifest
          - webpack/webpack
          - wireapp/wire-desktop
          - wireapp/wire-webapp

    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.5.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: |
            package-lock.json
            packages/*/package-lock.json
            integration-tests/package-lock.json

      - run: npm i -g npm@8
      - run: npm -v

      - name: Repo Info
        id: step-repo-info
        run: |
          echo "::set-output name=repo-info::$(jq -c '.repositories[] | select(.path == "${{ matrix.repo }}")' integration-tests/config/config.json)"
          echo "::set-output name=repo-hash::${{ hashFiles('integration-tests/tsconfig.json', 'integration-tests/config/repositories/${{matrix.repo}}/**', 'integration-tests/snapshots/${{ matrix.repo }}/*', 'integration-tests/repositories/*', '**/package-lock.json', '**/src/**/*.ts', '**/tsconfig.json') }}"

      - name: Cache Integration Run
        id: step-cache-run
        uses: actions/cache@v2
        with:
          key: int-repo-${{ steps.step-repo-info.outputs.repo-hash }}-${{ fromJSON(steps.step-repo-info.outputs.repo-info).commit }}
          path: |
            integration-tests/tsconfig.json

      - name: Cache Build
        id: step-cache-build
        uses: actions/cache@v2
        with:
          key: int-build-${{ hashFiles('**/package-lock.json', '**/src/**/*.ts', '**/tsconfig.json') }}
          path: |
            packages/*/dist
            integration-tests/dist

      - name: Cached Results
        run: |
          echo Build Cache: ${{ steps.step-cache-build.outputs.cache-hit && 'Hit' || 'Miss' }}
          echo Run Cache: ${{ steps.step-cache-run.outputs.cache-hit && 'Hit' || 'Miss' }}

      - name: Cache Integration Test Repository Files
        if: ${{ !env.update_args && !steps.step-cache-run.outputs.cache-hit }}
        uses: actions/cache@v2
        with:
          key: int-repo-temp-files-${{ matrix.repo }}-${{ fromJSON(steps.step-repo-info.outputs.repo-info).commit }}
          path: |
            integration-tests/repositories/temp/${{ matrix.repo }}

      - name: Show Update Args
        if: ${{ env.update_args }}
        run: |
          echo Update Snapshots - ${{ github.event.inputs.updateSnapshots }}
          echo Update Args - ${{ env.update_args }}
          echo ${{ env.branch_prefix }}/${{ matrix.repo }}

      - name: Npm CI
        if: ${{ !steps.step-cache-build.outputs.cache-hit || !steps.step-cache-run.outputs.cache-hit || env.update_args }}
        run: npm ci

      - name: Has Npm has failed?
        if: ${{ failure() }}
        run: |
          ls -alF /home/runner/.npm/_logs/*.log
          cat /home/runner/.npm/_logs/*.log

      - name: Build
        if: ${{ !steps.step-cache-build.outputs.cache-hit }}
        run: npm run build

      - name: Run Integration Tests ${{ matrix.repo }}
        if: ${{ env.update_args || !steps.step-cache-run.outputs.cache-hit }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          cd integration-tests
          && npm ci
          && npm run integration-tests -- ${{ matrix.repo }} ${{ env.update_args }}

      # Update if necessary

      - name: Detect Changes
        run: |
          git --no-pager diff --compact-summary  --exit-code && echo "git_status=clean" >> $GITHUB_ENV || echo "git_status=dirty" >> $GITHUB_ENV
          git --no-pager diff --compact-summary

      - name: Gen Body
        run: |
          echo 'git_body<<DIFF' >> $GITHUB_ENV
          git --no-pager diff --compact-summary >> $GITHUB_ENV
          echo 'DIFF' >> $GITHUB_ENV

      - name: Echo git_status
        run: echo ${{ env.git_status }}

      - name: Generate Token
        uses: tibdex/github-app-token@v1.5 # cspell:ignore tibdex
        if: env.git_status == 'dirty'
        id: generate-token
        with:
          app_id: ${{ secrets.AUTOMATION_APP_ID }}
          private_key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}

      - name: Create Pull Request
        if: env.git_status == 'dirty'
        uses: peter-evans/create-pull-request@v3.11.0
        with:
          commit-message: "ci: Workflow Bot -- Integration ${{ matrix.repo }} Update References"
          branch: ${{ env.branch_prefix }}/${{ matrix.repo }}
          base: main
          title: "ci: Workflow Bot -- Integration ${{ matrix.repo }} Update References"
          token: ${{ steps.generate-token.outputs.token }}
          body: ${{ env.git_body }}
          delete-branch: true
# cspell:ignore MartinThoma googleapis
# cspell:ignore plasticrake tplink smarthome
# cspell:ignore logiciel
