name: Integration Tests
on:
  pull_request:
    paths:
      - "**/*.ts"
      - "**/package-lock.json"
      - "**/package.json"
      - "integration-tests/**"
      - ".github/workflows/integration-test.yml"
      - "!docs/**"
  push:
    branches:
      - main
    paths:
      - "**/*.ts"
      - "**/package-lock.json"
      - "**/package.json"
      - "integration-tests/**"
      - ".github/workflows/integration-test.yml"
      - "!docs/**"
  # Run on demand
  workflow_dispatch:

jobs:
  integration-tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          - 16.x

        os:
          - ubuntu-latest

        # List of repositories to check.
        # Use `repo-list.sh` in `integration-tests` to generate.
        repo:
          - AdaDoom3/AdaDoom3
          - alexiosc/megistos
          - apollographql/apollo-server
          - aws-amplify/docs
          - Azure/azure-rest-api-specs
          - bitjson/typescript-starter
          - canada-ca/open-source-logiciel-libre
          - django/django
          - exonum/exonum
          - googleapis/google-cloud-cpp
          - graphql/express-graphql
          - graphql/graphql-js
          - graphql/graphql-relay-js
          - graphql/graphql-spec
          - liriliri/licia
          - MartinThoma/LaTeX-examples
          - mdx-js/mdx
          - microsoft/TypeScript-Website
          - pagekit/pagekit
          - php/php-src
          - plasticrake/tplink-smarthome-api
          - prettier/prettier
          - pycontribs/jira
          - shoelace-style/shoelace
          - SoftwareBrothers/admin-bro
          - TheAlgorithms/Python
          - twbs/bootstrap
          - typescript-cheatsheets/react
          - typescript-eslint/typescript-eslint
          - w3c/aria-practices
          - w3c/specberus
          - webdeveric/webpack-assets-manifest
          - webpack/webpack
          - wireapp/wire-desktop
          - wireapp/wire-webapp

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: |
            package-lock.json
            packages/*/package-lock.json
            integration-tests/package-lock.json

      - run: npm i -g npm@8
      - run: npm -v

      - name: Repo Info
        id: step-repo-info
        run: |
          echo "::set-output name=repo-info::$(jq -c '.repositories[] | select(.path == "${{ matrix.repo }}")' integration-tests/config/config.json)"
          echo "::set-output name=repo-hash::${{ hashFiles('integration-tests/tsconfig.json', 'integration-tests/config/repositories/${{matrix.repo}}/**', 'integration-tests/snapshots/${{ matrix.repo }}/*', 'integration-tests/repositories/*', '**/package-lock.json', '**/src/**/*.ts', '**/tsconfig.json') }}"

      - name: Cache Integration Run
        id: step-cache-run
        uses: actions/cache@v2
        with:
          key: int-repo-${{ steps.step-repo-info.outputs.repo-hash }}-${{ fromJSON(steps.step-repo-info.outputs.repo-info).commit }}
          path: |
            integration-tests/tsconfig.json

      - name: Cache Build
        id: step-cache-build
        uses: actions/cache@v2
        with:
          key: int-build-${{ hashFiles('**/package-lock.json', '**/src/**/*.ts', '**/tsconfig.json') }}
          path: |
            packages/*/dist
            integration-tests/dist

      - name: Cached Results
        run: |
          echo Build Cache: ${{ steps.step-cache-build.outputs.cache-hit && 'Hit' || 'Miss' }}
          echo Run Cache: ${{ steps.step-cache-run.outputs.cache-hit && 'Hit' || 'Miss' }}

      - name: Cache Integration Test Repository Files
        if: ${{ !steps.step-cache-run.outputs.cache-hit }}
        uses: actions/cache@v2
        with:
          key: int-repo-temp-files-${{ matrix.repo }}-${{ fromJSON(steps.step-repo-info.outputs.repo-info).commit }}
          path: |
            integration-tests/repositories/temp/${{ matrix.repo }}

      - name: Npm CI
        if: ${{ !steps.step-cache-build.outputs.cache-hit || !steps.step-cache-run.outputs.cache-hit }}
        run: npm ci

      - name: Has Npm has failed?
        if: ${{ failure() }}
        run: |
          ls -alF /home/runner/.npm/_logs/*.log
          cat /home/runner/.npm/_logs/*.log

      - name: Build
        if: ${{ !steps.step-cache-build.outputs.cache-hit }}
        run: npm run build

      - name: Run Integration Tests ${{ matrix.repo }}
        if: ${{ !steps.step-cache-run.outputs.cache-hit }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          cd integration-tests
          && npm ci
          && npm run integration-tests -- ${{ matrix.repo }}

# cspell:ignore MartinThoma googleapis
# cspell:ignore plasticrake tplink smarthome
# cspell:ignore logiciel twbs
# cspell:ignore apollographql
