name: Lint
on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'website/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'website/**'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup and Build
        uses: ./.github/actions/install-build-cache
        with:
          node-version: 18.x

      - name: Lint
        run: pnpm run lint

      - name: PR Auto Fix Lint
        if: github.event.ref == 'refs/heads/main'
        uses: ./.github/actions/pr
        with:
          body: |
            # Fix Lint Issues
          commit-message: 'ci: Fix Lint -- Workflow Bot'
          branch: update-fix-lint
          title: >-
            ci: Fix Lint -- Workflow Bot
          app_id: ${{ secrets.AUTOMATION_APP_ID }}
          app_private_key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
