name: Lint Docs
on:
  pull_request:
    paths:
      - "docs/**"
  push:
    branches:
      - main
    paths:
      - "docs/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          cache: npm
      - run: npm ci
      - run: npm run lint-docs-ci
