name: Publish

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      ref:
        description: "branch, release, or tag to publish, like v5.0.1-alpha.14"
        default: master
        required: true
      npm_tag:
        description: "Tag to add to NPM release 'latest' or 'next'"
        default: next
        required: true

jobs:
  publish-manual:
    runs-on: ubuntu-latest
    if: github.event.inputs
    steps:
      - name: Echo context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.ref }}
      - name: Install
        run: npm install
      - name: Test
        run: npm test
      - name: Setup Git
        run: |
          git config --global user.name 'Jason Dent'
          git config --global user.email 'jason@streetsidesoftware.nl'
      - name: Publish
        run: npm run pub-lerna -- -y --dist-tag "$NPM_TAG"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TAG: ${{ github.event.inputs.npm_tag }}

  publish-tag:
    runs-on: ubuntu-latest
    if: ${{ !github.event.inputs }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install
        run: npm install
      - name: Test
        run: npm test
      - name: Echo context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Setup Git
        run: |
          git config --global user.name 'Jason Dent'
          git config --global user.email 'jason@streetsidesoftware.nl'

#       - name: Publish Master
#         if: ${{ github.ref == 'refs/heads/master' }}
#         run: npm run pub-lerna -- -y --dist-tag next
#         env:
#           NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       - name: Publish cspell4
#         if: ${{ github.ref == 'refs/heads/cspell4' }}
#         run: npm run pub-lerna -- -y --dist-tag latest
#         env:
#           NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
