name: Release Drafter

on:
  push:
    # branches to consider in the event; optional, defaults to all
    branches:
      - cspell5
  # pull_request event is required only for autolabeler
  pull_request:
    # Only following types are handled by the action, but one can default to all as well
    types: [opened, reopened, synchronize]
  # Run on demand
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update_pr_labels:
    if: github.ref != 'refs/heads/cspell5'
    permissions:
      pull-requests: write # for release-drafter/release-drafter to add label to PR
    runs-on: ubuntu-latest
    steps:
      # (Optional) GitHub Enterprise requires GHE_HOST variable set
      #- name: Set GHE_HOST
      #  run: |
      #    echo "GHE_HOST=${GITHUB_SERVER_URL##https:\/\/}" >> $GITHUB_ENV

      # Drafts your next Release notes as Pull Requests are merged into "master"
      - uses: release-drafter/release-drafter@ac463ffd9cc4c6ad5682af93dc3e3591c4657ee3 # v5
        # (Optional) specify config name to use, relative to .github/. Default: release-drafter.yml
        # with:
        #   config-name: my-config.yml
        #   disable-autolabeler: true
        with:
          # See [Release Drafter is *sometimes* including unmerged PRs 路 Issue #917 路 release-drafter/release-drafter](https://github.com/release-drafter/release-drafter/issues/917)
          disable-releaser: true
          disable-autolabeler: false
          config-name: release-drafter-cspell5.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update_release_draft:
    if: github.ref == 'refs/heads/cspell5'
    permissions:
      contents: write # needed by release-drafter/release-drafter to write to the draft release.
    runs-on: ubuntu-latest
    steps:
      # (Optional) GitHub Enterprise requires GHE_HOST variable set
      #- name: Set GHE_HOST
      #  run: |
      #    echo "GHE_HOST=${GITHUB_SERVER_URL##https:\/\/}" >> $GITHUB_ENV

      # Drafts your next Release notes as Pull Requests are merged into "master"
      - uses: release-drafter/release-drafter@ac463ffd9cc4c6ad5682af93dc3e3591c4657ee3 # v5
        # (Optional) specify config name to use, relative to .github/. Default: release-drafter.yml
        # with:
        #   config-name: my-config.yml
        #   disable-autolabeler: true
        with:
          # See [Release Drafter is *sometimes* including unmerged PRs 路 Issue #917 路 release-drafter/release-drafter](https://github.com/release-drafter/release-drafter/issues/917)
          disable-releaser: false
          disable-autolabeler: true
          config-name: release-drafter-cspell5.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
# cspell:ignore auto* *labeler
