name: Test
on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/test.yml"
      - "*-lock.yaml"
      - "package.json"
      - "packages/**/*.js"
      - "packages/**/*.ts"
      - "packages/**/package.json"
      - "packages/**/tsconfig.json"
      - "test-packages/**/*.js"
      - "test-packages/**/*.ts"
      - "test-packages/**/package.json"
      - "test-packages/**/tsconfig.json"
      - "test-fixtures/**"
      - "tsconfig*.json"
      - "!docs/**"
      - "!website/**"
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"

permissions:
  contents: read

jobs:
  test-node-versions:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          # List of supported node versions (latest is tested in `test-os`)
          - 14.x
          - 16.x
          - 18.x

        os:
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - run: pnpm -v

      - name: Restore CSpell cache
        uses: actions/cache@v3
        with:
          key: cspell-cache-${{ runner.os }}-test-${{ hashFiles('**/*.ts', '**/*.md') }}
          path: |
            .cspell/.cspellcache
          restore-keys: |
            cspell-cache-${{ runner.os }}-test-
            cspell-cache-${{ runner.os }}-

      - run: pnpm i
      - run: pnpm run build
      - run: pnpm --workspace-concurrency 1 test

      - name: verify trace command
        run: pnpm run test-bin-trace

      - name: verify the spell checker runs
        run: pnpm run test-bin-spell

      - name: verify the check command
        run: pnpm run test-bin-check

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --exit-code

  test-os:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          # Test the latest node version here, move older versions to `test-old-node-versions`
          - 16.x

        os:
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - run: pnpm -v

      - run: pnpm i
      - run: pnpm run build
      # macos has started to fail if concurrency is not set to 1
      # both jest and pnpm run in parallel overloading the machine.
      - run: pnpm --workspace-concurrency 1 test

      - name: verify trace command
        run: pnpm run test-bin-trace

      - name: verify the spell checker runs
        run: pnpm run test-bin-spell

      - name: verify the check command
        run: pnpm run test-bin-check

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code

  test-full-build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          - 18.x

        os:
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - run: pnpm -v

      - name: Swap tsconfig.json
        run: |
          cp tsconfig-full.json tsconfig.json

      - name: Display Config
        run: |
          echo "$(cat tsconfig.json)"

      - run: pnpm i
      - run: pnpm run build
      - run: pnpm --workspace-concurrency 1 test
