name: Test
on:
  pull_request:
  push:
    branches:
      - master
      - cspell4

permissions:
  contents: read

jobs:
  test-node-lts:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          - 10.x
          - 12.x
          - 14.x

        os:
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm test
      - run: node ./bin.js trace test
      - run: node ./bin.js "**/{*.ts,*.md}"

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code

  test-node-latest:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          - 16.x

        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm test
      - run: node ./bin.js trace test
      - run: node ./bin.js "**/{*.ts,*.md}"

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code
