name: Test
on:
  pull_request:
    paths-ignore:
      - "docs/**"
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"

jobs:
  test-node-versions:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          # List of supported node versions (latest is tested in `test-os`)
          - 12.x
          - 14.x
          - 16.x
          - 17.x

        os:
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.5.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: |
            package-lock.json
            packages/*/package-lock.json
            integration-tests/package-lock.json
      - run: npm i -g npm@8
      - run: npm ci
      - run: npm run build
      - run: npm test

      - name: verify trace command
        run: npm run test-bin-trace

      - name: verify the spell checker runs
        run: npm run test-bin-spell

      - name: verify the check command
        run: npm run test-bin-check

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code

  test-os:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          # Test the latest node version here, move older versions to `test-old-node-versions`
          - 16.x

        os:
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.5.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - run: npm ci
      - run: npm run build
      - run: npm test

      - name: verify trace command
        run: npm run test-bin-trace

      - name: verify the spell checker runs
        run: npm run test-bin-spell

      - name: verify the check command
        run: npm run test-bin-check

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code
