name: Test
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          - 10.x
          - 12.x
          - 14.x

        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci

      - run: npm test

      - run: node ./bin.js "**/*.*"

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code
