name: Build Docs

on:
  push:
    branches:
      - main
    paths:
      - "packages/cspell-types/**/*.ts"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-docs:
    if: github.repository_owner == 'streetsidesoftware'
    runs-on: ubuntu-latest
    env:
      NEW_BRANCH: "update-docs"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build Docs
        run: |
          pnpm run build-cspell-types-docs

      - name: PR
        uses: ./.github/actions/pr
        with:
          commit-message: "ci: Workflow Bot -- Build Docs"
          branch: ${{ env.NEW_BRANCH }}
          app_id: ${{ secrets.AUTOMATION_APP_ID }}
          app_private_key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
