name: Update Readme files

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-docs:
    if: github.repository_owner == 'streetsidesoftware'
    runs-on: ubuntu-latest
    env:
      NEW_BRANCH: "update-readme"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup and Build
        uses: ./.github/actions/install-build
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build Readme
        run: |
          pnpm run build:readme

      - name: PR
        uses: ./.github/actions/pr
        with:
          commit-message: "ci: Workflow Bot -- Build Readme"
          branch: ${{ env.NEW_BRANCH }}
          app_id: ${{ secrets.AUTOMATION_APP_ID }}
          app_private_key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
