name: Update Readme files

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build-docs:
    if: github.repository_owner == 'streetsidesoftware'
    runs-on: ubuntu-latest
    env:
      NEW_BRANCH: 'update-readme'
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup and Build
        uses: ./.github/actions/install-build

      - name: Update Contributors
        run: |
          pnpm update-contributors ${{ secrets.GITHUB_TOKEN }}

      - name: Build Readme
        run: |
          pnpm run build:readme

      - name: PR Body
        id: pr-body
        uses: streetsidesoftware/actions/public/pr-body@v1
        with:
          title: 'Update README.md'
          path: README.md

      - name: Show PR in Summary
        uses: streetsidesoftware/actions/public/summary@v1
        with:
          text: |
            ${{ steps.pr-body.outputs.body }}

      - name: Create PR
        if: github.ref_name == 'main'
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: 'chore: ${{ steps.pr-body.outputs.title }}'
          branch: update-readme
          base: main
          title: 'chore: ${{ steps.pr-body.outputs.title }}'
          body: ${{ steps.pr-body.outputs.body }}
          token: ${{ secrets.GITHUB_TOKEN }}
          sign-commits: true # Sign commits made by the action
