name: Update Integration Test Snapshots

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 1" # Monday at 8 UTC

jobs:
  update:
    if: github.repository_owner == 'streetsidesoftware'
    runs-on: ubuntu-latest
    env:
      NEW_BRANCH: "update-snapshots"
      REF_BRANCH: main
    steps:
      - name: Start
        run: |
          echo "${{ toJson(github.event.inputs) }}"
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ env.REF_BRANCH }}
      - name: Use Node.js
        uses: actions/setup-node@v3.1.0
        with:
          cache: npm
      - name: Setup NPM
        run: npm i -g npm@8
      - name: Install
        run: npm install
      - name: Build
        run: |
          npm run build
      - name: Update Integration Test Snapshots
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run update-integrations-and-snapshots
      - name: Has changes
        run: |
          git --no-pager diff --compact-summary  --exit-code && echo "git_status=clean" >> $GITHUB_ENV || echo "git_status=dirty" >> $GITHUB_ENV
          git --no-pager diff --compact-summary
      - name: Gen Body
        run: |
          echo 'git_body<<DIFF' >> $GITHUB_ENV
          git --no-pager diff --compact-summary >> $GITHUB_ENV
          echo 'DIFF' >> $GITHUB_ENV
      - name: Echo git_status
        run: echo ${{ env.git_status }}
      - uses: tibdex/github-app-token@v1.5 # cspell:ignore tibdex
        if: env.git_status == 'dirty'
        id: generate-token
        with:
          app_id: ${{ secrets.AUTOMATION_APP_ID }}
          private_key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
      - name: Create Pull Request
        if: env.git_status == 'dirty'
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "ci: Workflow Bot -- Update Integration Snapshots"
          branch: ${{ env.NEW_BRANCH }}
          base: ${{ env.REF_BRANCH }}
          title: "ci: Workflow Bot -- Update Integration Snapshots (${{ env.REF_BRANCH }})"
          token: ${{ steps.generate-token.outputs.token }}
          body: ${{ env.git_body }}
          delete-branch: true
