name: Website - Build and Test

on:
  pull_request:
    paths:
      - "docs/**"
      - "website/**"
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "website/**"
  # Run on demand
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build Website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build website
        run: |
          pnpm --filter website run build:site

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code
