name: Website - Lint
on:
  pull_request:
    paths:
      - 'website/**'
  push:
    branches:
      - main
    paths:
      - 'website/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup
        uses: ./.github/actions/setup

      - run: pnpm run install-website
      - run: pnpm run website-lint
