name: Website - Build and Test

on:
  pull_request:
    paths:
      - 'website/**'
  push:
    branches:
      - main
    paths:
      - 'website/**'
  # Run on demand
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build Website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build website
        run: |
          pnpm build
          pnpm --filter website run build:site

      # Ensure the repository is clean after build & test
      - run: git --no-pager diff --compact-summary --exit-code
