name: Workflow Test

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 1" # Monday at 8 UTC

permissions:
  contents: read

env:
  NEW_BRANCH: "update-integration-repositories"
  REF_BRANCH: main
  RUNS_ON: ubuntu-latest
  NODE_VERSION: "16.x"
  NPM_VERSION: "8"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ env.REF_BRANCH }}

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
          cache-dependency-path: |
            package-lock.json
            packages/*/package-lock.json
            integration-tests/package-lock.json

      - run: npm i -g npm@${{ env.NPM_VERSION }}
      - run: npm -v

  integrations:
    runs-on: ubuntu-latest
    needs: build
    outputs:
      repo: ${{ matrix.repo }}

    strategy:
      # the integration tests are independent, so we want to run them all.
      fail-fast: false
      matrix:
        # List of repositories to check.
        # Use `repo-list.sh` in `integration-tests` to generate.
        repo:
          - AdaDoom3/AdaDoom3
          - alexiosc/megistos
          - apollographql/apollo-server
          - aspnetboilerplate/aspnetboilerplate
          - aws-amplify/docs
          - Azure/azure-rest-api-specs
          - bitjson/typescript-starter
          - caddyserver/caddy
          - canada-ca/open-source-logiciel-libre
          - django/django
          - exonum/exonum
          - googleapis/google-cloud-cpp
          - graphql/express-graphql
          - graphql/graphql-js
          - graphql/graphql-relay-js
          - graphql/graphql-spec
          - liriliri/licia
          - MartinThoma/LaTeX-examples
          - mdx-js/mdx
          - microsoft/TypeScript-Website
          - pagekit/pagekit
          - php/php-src
          - plasticrake/tplink-smarthome-api
          - prettier/prettier
          - pycontribs/jira
          - shoelace-style/shoelace
          - SoftwareBrothers/admin-bro
          - TheAlgorithms/Python
          - twbs/bootstrap
          - typescript-cheatsheets/react
          - typescript-eslint/typescript-eslint
          - w3c/aria-practices
          - w3c/specberus
          - webdeveric/webpack-assets-manifest
          - webpack/webpack
          - wireapp/wire-desktop
          - wireapp/wire-webapp

    steps:
      - name: Repo Info
        id: step-repo-info
        run: |
          echo "${{ matrix.repo }}"

  pr:
    runs-on: ubuntu-latest
    needs: integrations

    env:
      OUTPUT: ${{ toJSON(needs.integrations.outputs) }}

    steps:
      - name: echo
        run: |
          echo "$OUTPUT"

# cspell:ignore apollographql
# cspell:ignore aspnetboilerplate
# cspell:ignore caddyserver
# cspell:ignore logiciel twbs
# cspell:ignore MartinThoma googleapis
# cspell:ignore plasticrake tplink smarthome
